@import url("http://fonts.googleapis.com/css?family=Shadows+Into+Light");
@import url(https://fonts.googleapis.com/css?family=Tangerine");

div.board {
  position: relative;
  overflow: hidden;
  background-color: darkseagreen;
  width: 1280px;
  height: 400px;
  background: #eab92d;
  background: -moz-radial-gradient(
    center,
    ellipse cover,
    #eab92d 57%,
    #c79810 99%
  );
  background: -webkit-gradient(
    radial,
    center center,
    0px,
    center center,
    100%,
    color-stop(57%, #eab92d),
    color-stop(99%, #c79810)
  );
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    #eab92d 57%,
    #c79810 99%
  );
  background: -o-radial-gradient(
    center,
    ellipse cover,
    #eab92d 57%,
    #c79810 99%
  );
  background: -ms-radial-gradient(
    center,
    ellipse cover,
    #eab92d 57%,
    #c79810 99%
  );
  background: radial-gradient(ellipse at center, #eab92d 57%, #c79810 99%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eab92d', endColorstr='#c79810', GradientType=1);
}

div.note {
  height: 150px;
  width: 150px;
  background-color: yellow;
  margin: 2px 0;
  position: absolute;
  cursor: -webkit-grab;
  -webkit-box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.2);
  /* TODO */
  /* overflow: scroll; */
  /* position: relative; */
}

div.note:active {
  cursor: -webkit-grabbing;
}

div.note p {
  font-size: 22px;
  padding: 5px;
  font-family: "Shadows Into Light", "Tangerine", Arial;
}

div.note:hover > span {
  opacity: 1;
}

div.note > span {
  position: absolute;
  bottom: 2px;
  right: 2px;
  opacity: 0;
  transition: opacity 0.25s linear;
}

div.note button {
  margin: 2px;
}

div.note > textarea {
  height: 75%;
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
}

.glyphicon-plus {
  position: fixed;
  top: 10px;
  right: 10px;
}

p {
  word-wrap: break-word;
}
